<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SecureChat - Admin Dashboard</title>
    <link rel="stylesheet" href="">
    <link rel="stylesheet" href="">
    <style>
        .container {
            margin-top: 20px;
        }

        .card {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    {% include 'includes/navbar.html' %}
    <div class="container">
        <h1>Admin Dashboard</h1>
        <div class="card">
            <div class="card-header">
                <h2>Manage Users</h2>
            </div>
            
        </div>
    </div>

</html>
